.feedback-list {
  font-size: 20px;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  min-width: 260px;
}

.feedback-item {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback-item:last-child {
  border-bottom: none;
}

.feedback-item-quantity:last-child {
  color: #4c1383;
  font-size: 18px;
}

.good {
  color: #28a745;
}
.neutral {
  color: #6c757d;
}
.bad {
  color: #dc3545;
}
